.banner-blue {
    background-color: $color-blue;
    height: 70px;
    
    .container-comics {
        position: relative;
        height: 100%;

        .img-comics {
            max-width: 150px;
            border: 1px solid $color-white;
            position: absolute;
            bottom: 20px;
            left: 0;

            img {
                width: 100%;
            }
        }
    }
}

.comics-info {
    border-bottom: 1px solid $color-grey;
    padding: 60px 0;

    h2 {
        color: $color-ligth-black;
        text-transform: uppercase;
        font-weight: 600;
    }

    .green-container {
        display: flex;
        color: $color-white;
        font-weight: 600;

        .green-left {

            flex-grow: 1;
            display: flex;
            justify-content: space-between;
        }

        .green-box {
            padding: 12px 24px;
            background-color: $color-green;
            border: 1px solid $color-ligth-black;

            &-inner{
                display: flex;

                div {
                    padding: 0 5px;
                }
            }
        }
    }

    .text-description {

        color: $color-grey;
        font-size: 14px;
        padding-top: 24px;
    }

    .text-adv {
        text-align: right;
        text-transform: uppercase;
        color: $color-ligth-black;
        font-weight: 600;

    }

    .img-adv {
        max-width: 300px;

        img {
            width: 100%;
        }
    }
}

.comics-details {
    background-color: $color-ligth-grey;
    padding: 24px 0;
    color: $color-ligth-black;

    h6.box-info {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .box-info {
        border-bottom: 1px solid $color-grey;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        font-size: 12px;

        div:last-child {
            color: $color-azure;

        }

        div:first-child {
            flex-basis: 70%;
        }
    }
}
